<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/todos.css">
</head>
<body>
<div class="container">
    <!-- TODO -->
    <div class="section">
        <div class="todos todo" th:each="todo : ${groupedStatus[T(com.web.enums.TodoStatus).TODO]}" th:data-id="${todo.id}">
            <i class="pencil fa-solid fa-pencil"
               th:attr="data-id=${todo.id}, data-title=${todo.title}, data-description=${todo.description}, data-status=${todo.status}"></i>
            <div class="header" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="title" th:text="${todo.title}">Title</div>
            </div>
            <div class="body" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="desc" th:text="${todo.description}">Description</div>
            </div>
            <div class="footer" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="status" th:text="${todo.status}">Status</div>
            </div>
        </div>
    </div>

    <!-- PROGRESS -->
    <div class="section">
        <div class="todos progress" th:each="todo : ${groupedStatus[T(com.web.enums.TodoStatus).PROGRESS]}" th:data-id="${todo.id}">
            <i class="pencil fa-solid fa-pencil"
               th:attr="data-id=${todo.id}, data-title=${todo.title}, data-description=${todo.description}, data-status=${todo.status}"></i>
            <div class="header" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="title" th:text="${todo.title}">Title</div>
            </div>
            <div class="body" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="desc" th:text="${todo.description}">Description</div>
            </div>
            <div class="footer" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="status" th:text="${todo.status}">Status</div>
            </div>
        </div>
    </div>

    <!-- FINISHED -->
    <div class="section">
        <div class="todos finished" th:each="todo : ${groupedStatus[T(com.web.enums.TodoStatus).FINISHED]}" th:data-id="${todo.id}">
            <i class="pencil fa-solid fa-pencil"
               th:attr="data-id=${todo.id}, data-title=${todo.title}, data-description=${todo.description}, data-status=${todo.status}"></i>
            <div class="header" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="title" th:text="${todo.title}">Title</div>
            </div>
            <div class="body" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="desc" th:text="${todo.description}">Description</div>
            </div>
            <div class="footer" onclick="showUpdates(this.parentElement.getAttribute('data-id'))">
                <div class="status" th:text="${todo.status}">Status</div>
            </div>
        </div>
    </div>
</div>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Add New Todo</button>

<!-- The Modal for Adding Todos -->
<div id="todoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form th:action="@{/todos}" th:object="${todo}" method="post">
            <div class="add-title">
                <input type="text" id="title" th:field="*{title}" required/>
                <div th:errorclass="error" th:errors="*{title}"></div>
            </div>
            <div class="add-desc">
                <textarea rows="4" id="description" th:field="*{description}"></textarea>
                <div th:errorclass="error" th:errors="*{description}"></div>
            </div>
            <div class="add-status">
                <div th:each="status : ${status}">
                    <input type="radio" th:id="${'status' + status}" th:value="${status}" th:name="status" required/>
                    <label th:for="${'status' + status}" th:text="${status}"></label>
                </div>
            </div>
            <button type="submit">Add Todo</button>
        </form>
    </div>
</div>

<!-- The Modal for Editing Todos -->
<div id="editTodoModal" class="modal">
    <div class="modal-content">
        <span class="close-edit">&times;</span>
        <form th:action="@{/todos/edit}" th:object="${todo}" method="post">
            <input type="hidden" th:field="*{id}" id="edit-id"/>
            <div class="edit-title">
                <input type="text" id="edit-title" th:field="*{title}" required/>
                <div th:errorclass="error" th:errors="*{title}"></div>
            </div>
            <div class="edit-desc">
                <textarea rows="4" id="edit-description" th:field="*{description}"></textarea>
                <div th:errorclass="error" th:errors="*{description}"></div>
            </div>
            <div class="edit-status">
                <div th:each="status : ${status}">
                    <input type="radio" th:id="${'edit-status' + status}" th:value="${status}" th:name="status" required/>
                    <label th:for="${'edit-status' + status}" th:text="${status}"></label>
                </div>
            </div>
            <button type="submit">Update Todo</button>
        </form>
    </div>
</div>

<!-- The Modal for Showing Updates -->
<div id="updatesModal" class="modal">
    <div class="modal-content">
        <span class="close-updates" onclick="closeUpdatesModal()">&times;</span>
        <h2>Update Dates</h2>
        <ul id="updateDatesList"></ul>
    </div>
</div>